fastapi==0.115.12
uvicorn==0.34.0
requests==2.32.3
pyinstaller==6.12.0
gradio==5.22.0

sentence-transformers==3.4.1
lib/torch-2.6.0+cpu-cp310-cp310-win_amd64.whl; sys_platform == 'win32'
lib/torch-2.6.0+cpu-cp310-cp310-linux_x86_64.whl; sys_platform == 'linux'

underthesea==6.8.4

# rapidfuzz
# tzdata

# selenium
# webdriver-manager

# ipykernel
# ipywidgets